In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
data =  pd.read_csv("Book2.csv")
data

  Unnamed: 0  videos  days  subscribers  views
0  channel 1      30   150         1800  34000
1  channel 2      40   212         1950  41000
2  channel 3      50   179         2100  42500
3  channel 4      60   346         4300  54300
4  channel 5      70   280         4200  56000

In [4]:
model = LinearRegression()
model.fit(data[['videos','days','subscribers']],data.views)

LinearRegression()

In [11]:
model.predict([[45,180,3100]])

array([41483.5043287])

In [6]:
#anukramana
model.coef_

array([3.81732131e+02, 4.21209097e+01, 3.54006782e-01])

In [7]:
#anthakkandaya
model.intercept_

15626.373669488294

In [15]:
# solved the formula to check values for 45 videos , result is same

m1 = model.coef_[0] * 45
m2 = model.coef_[1] * 180
m3 = model.coef_[2] * 3100

c = model.intercept_

y_new = (m1+m2+m3) + c
y_new

41483.504328703